<% include ../partials/boilerplate.ejs %>

<header id="page-header">
    <div class="wrapper">
      <nav>
        <ul>
          <li><strong><a href="/">Home</a></strong></li>
          <li><strong><a href="/tricks/">Tricks</a></strong></li>
        </ul>
      </nav>
    </div>
</header>

<div class='trickSingle'>
  <p><%= data.description %></p>
  <p><%= data.css_type_id %></p>

  <form action='/tricks/<%= data.id %>?_method=Delete' method='Post'>
    <input type='Submit' value='Delete' />
  </form>
  <button><a href='/tricks/'>See all tricks</a></button>
</div>

<% include ../partials/footer.ejs %>
