<% include ../partials/boilerplate.ejs %>

<header id="page-header">
    <div class="wrapper">
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/tricks/">Tricks</a></li>
        </ul>
      </nav>
    </div>
</header>

<div class='trickEdit'>
  <form method='POST' action='/tricks/<%= data.id %>?_method=PUT'>


        <input name='description' type='text' value="<%= data.description %>"/>
    <input type='submit' value='Edit It'/>
  </form>
</div>

<% include ../partials/footer.ejs %>
