<% include ../partials/boilerplate.ejs %>

<header id="page-header">
    <div class="wrapper">
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/tricks/">Tricks</a></li>
        </ul>
      </nav>
    </div>
</header>


<div class='trick-page'>

  <% for (let trick of data) { %>
    <div class='trick'>
      <p><%= trick.category %></p>
      <div class='TPButton'>
        <button><a href='/tricks/<%= trick.id%>'> Learn More </a></button>
      </div>
    </div>

  <% } %>

</div>

  <div id='Add'>
    <a href='/tricks/new'>Add Trick</a>
  </div>

<% include ../partials/footer.ejs %>
