<%include ./partials/boilerplate.ejs%>

<header id="page-header">
    <div class="wrapper">
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="./tricks">Tricks</a></li>
        </ul>
      </nav>
    </div>
</header>


<div class="home-screen">
  <p>Welcome to CSS Magic!</p>
  <div class='SPButton'>
    <button><a href='/tricks'>See all possible tricks!</a></button>
  <div>
</div>

<% include ./partials/footer.ejs %>
