<%include ./partials/boilerplate.ejs%>

<header id="page-header">
    <div class="wrapper">
      <nav>
        <ul>
          <li><strong><a href="/">Home</a></strong></li>
          <li><strong><a href="./tricks">Tricks</a></strong></li>
        </ul>
      </nav>
    </div>
</header>


<div class="home-screen">
  <p>Welcome to CSS Tricks!</p>
  <button><a href='/tricks'>See all possible tricks!</a></button>
</div>

<% include ./partials/footer.ejs %>
